{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    ["react-css-modules", {
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss",
          "plugins": ["postcss-nested"]
        }
      },
      "generateScopedName": "[local]--[hash:base64:5]",
      "webpackHotModuleReloading": true,
      "handleMissingStyleName": "warn"
    }]
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  }
}
